<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
    
    <context:annotation-config/>
    
	<bean id="imQuizDAO" class="it4kids.dao.inmemory.quiz.IMQuizDAO"/>
	<bean id="quizService" class="it4kids.service.quiz.QuizService">
	    <property name="dao" ref="imQuizDAO" />
	</bean>
	<bean id="imQuizEntryDAO" class="it4kids.dao.inmemory.quiz.IMQuizEntryDAO"/>
	<bean id="quizEntryService" class="it4kids.service.quiz.QuizEntryService">
	    <property name="dao" ref="imQuizEntryDAO" />
	</bean>
	<bean id="imOptionDAO" class="it4kids.dao.inmemory.quiz.IMOptionDAO"/>
	<bean id="optionService" class="it4kids.service.quiz.OptionService">
	    <property name="dao" ref="imOptionDAO" />
	</bean>
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	  <property name="cache" value="true"/>
	  <property name="prefix" value=""/>
	  <property name="suffix" value=".ftl"/>
	</bean>
	

</beans>